.advantages {
    padding: 30px 0;
    background-color: $blue-dark;
    color: $text-white;

    @media (min-width: $tablet-screen) {
        padding: 70px 0;
    }

    @media (min-width: $desktop-screen) {
        padding: 100px 0;
    }

    &--light {
        background-color: #fff;
        color: $text-black;
    }
}

.advantages__title br {
    display: none;

    @media (min-width: $desktop-screen) {
        display: block;
    }
}

.advantages__list {
    list-style: none;
    margin-top: 50px;

    @media (min-width: $tablet-screen) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        margin-top: 80px;
    }

    @media (min-width: $desktop-screen) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: unset;
    }
}

.advantages--light .advantages__list {
    @media (min-width: $tablet-screen) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }

    @media (min-width: $desktop-screen) {
        justify-content: space-between;
    }
}

.advantages__item {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: $tablet-screen) {
        display: grid;
        grid-template-rows: 125px 1fr;
        align-items: center;
        margin-bottom: 0;
        width: 300px;
    }

    @media (min-width: $desktop-screen) {
        width: 270px;
    }
}

.advantages__img {
    display: block;
    margin: 0 auto;
}

.advantages__description {
    text-align: center;
    margin-top: 30px;
    line-height: 1.5;
}

.advantages__dots {
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 10px;
}

.advantages__dot {
    background-color: $grey;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;

    &.active {
        background-color: $orange;
    }
}