.contacts {
    padding: 30px 0;

    @media (min-width: $tablet-screen) {
        padding: 70px 0;
    }
    
    @media (min-width: $desktop-screen) {
        padding: 100px 0;
        background-image: url("../img/contacts-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (min-resolution: 144dpi), (min-resolution: 192dppx) {
            background-image: url("../img/contacts-bg@2x.jpg");
        }
    }
}

.contacts__address {
    margin-top: 30px;
    text-align: center;

    @media (min-width: $desktop-screen) {
        margin-top: 70px;
    }
}

.contacts__tel {
    display: block;
    text-align: center;
    font-size: 24px;
    color: $text-black;
    text-decoration-style: dotted;
    text-decoration-color: rgba($text-black, .5);
    text-underline-offset: 5px;
    margin-top: 20px;
    font-weight: bold;
}