.container {
    min-width: 280px;
    max-width: 500px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: $tablet-screen) {
        width: 660px;
        padding: 0;
        max-width: none;
    }
    
    @media (min-width: $desktop-screen) {
        width: 1200px;
    }
}