.detail {
    padding: 30px 0;
    background-color: $blue;
    color: $text-white;

    @media (min-width: $tablet-screen) {
        padding: 70px 0;
    }
    
    @media (min-width: $desktop-screen) {
        padding: 100px 0;
        background-image: url("../img/detail-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (min-resolution: 144dpi), (min-resolution: 192dppx) {
            background-image: url("../img/detail-bg@2x.jpg");
        }
    }
}

.detail__text br {
    display: none;

    @media (min-width: $tablet-screen) {
        display: block;
    }
}

.detail__form {
    margin-top: 50px;
    
    @media (min-width: $tablet-screen) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    @media (min-width: $desktop-screen) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.detail__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;


    &:nth-child(2) {
        margin-bottom: 0;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        right: 20px;
    }
    
    &--phone {
        &::after {
            background-image: url("../img/phone.svg");
        }
    }

    @media (min-width: $tablet-screen) {
        margin-bottom: 0;
    }
}

.detail__input {
    display: block;
    width: 100%;
    padding: 20px;
    padding-right: 70px;
    font-size: 16px;
    background-color: $grey;
    border: none;

    @media (min-width: $desktop-screen) {
        padding: 30px;
        padding-right: 70px;
    }
}

.detail__submit {
    width: 100%;
    padding: 20px 0;
    color: $text-white;
    background-color: $orange;
    margin-top: 40px;

    @media (min-width: $tablet-screen) {
        margin-top: 0;
        grid-area: 2 / 1 / 3 / 3;
    }

    @media (min-width: $desktop-screen) {
        grid-area: unset;
    }
}

.detail__postscript {
    text-align: center;
    line-height: 1.5;
    margin-top: 50px;
    font-size: 14px;
}

.detail__call-text {
    text-align: center;
    line-height: 1.5;
    margin-top: 30px;
    font-size: 14px;
}

.detail__call {
    display: block;
    color: $text-white;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-style: dotted;
    text-decoration-color: #888;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}