@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.woff2") format("woff2"),
        url("../fonts/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.secondary-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    @media (min-width: $tablet-screen) {
        font-size: 30px;
    }

    @media (min-width: $desktop-screen) {
        width: 700px;
        margin: 0 auto;
    }
}

.under-title-text {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;

    @media (min-width: $tablet-screen) {
        margin-top: 20px;
        font-size: 18px;
    }
}