@import "./screen-sizes.scss";
@import "./colors.scss";
@import "./scaffolding.scss";
@import "./blocks/container.scss";
@import "./blocks/button.scss";
@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import "./blocks/get-price.scss";
@import "./blocks/advantages.scss";
@import "./blocks/detail.scss";
@import "./blocks/guarantee.scss";
@import "./blocks/faq.scss";
@import "./blocks/storage.scss";
@import "./blocks/consultation.scss";
@import "./blocks/contacts.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/loader.scss";